@tailwind base;
@tailwind components;
@tailwind utilities;

.feature:hover .arrow-down {
  stroke: black;
}
.feature:hover svg {
  stroke: black;
  transform: rotate(180deg);
}

.feature:hover   #company-menu {
    display: block;
}
.feature:hover   #feature-menu {
    display: block;
}

#company-menu,
#feature-menu {
  box-shadow: 1px 5px 8px 0px #b8b5b5;
}
